#menu {
    height: 16px;
    margin: 4px 0px;
    padding: 4px;
    padding-bottom: 3px;
    display: inline-block;
}

#menu .menu {
    padding: 0 4px;
    display: inline;
}

#menu .menu > div.menu {
    border: 1px solid #B4B4B4;
    border-top-width: 0px;
    position: absolute;
    left: 10px;
    display: none;
    opacity: 0.9;
    z-index: 42;
}

#menu div.menu:hover > div.menu {
    display: block;
}

.menu a {
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    text-decoration: underline;
}

#menu .menu a.menu_element:hover div {
    text-decoration: underline;
}
