#head a {
    color: #e0e0e0;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    cursor: crosshair;
}

#head a:hover {
    color: #17a617;
}

#head .menu {
    background-color: #242424;
    position: relative;
    float: left;
    margin-right: 5px;
    text-align: left;
}

#head .menu > div.menu {
    position: absolute;
    left: 10px;
    display: none;
    opacity: 0.7;
    z-index: 42;
}

#head div.menu:hover > div.menu {
    display: block;
}

#head .menu a.menu_element {
    padding: 0;
}

#head .menu a.menu_element div {
    width: 100%;
}

#head .menu a.menu_element:hover {
    color: #17a617;
}

#head .menu div.separator {
    width: 100%;
    border-top: solid 1px #17a617;
}
